<html>
<head>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<div id="contentBox">
    <h4>Current player: {{current}}</h4>
    <form method="get" action="../turn">
        <div id="group1" class="columnGroup">
            <div id="column1" class='column'>
                Player 1:<br>
                {% for word in p1 %}
                <input type="checkbox" name="p1" value="{{word}}"> {{word}}<br>
                {% endfor %}
            </div>

            <div id="column2" class='column'>
                Player 2:<br>
                {% for word in p2 %}
                <input type="checkbox" name="p2" value="{{word}}"> {{word}}<br>
                {% endfor %}
            </div>
        </div>
        <div id="group2" class="columnGroup">
            <div id="column3" class='column'>
                Neutral:<br>
                {% for word in neutral %}
                <input type="checkbox" name="neutral" value="{{word}}"> {{word}}<br>
                {% endfor %}
            </div>

            <div id="column4" class='column'>
                Assassin:<br>
                {% for word in assassin %}
                <input type="checkbox" name="assassin" value="{{word}}"> {{word}}<br>
                {% endfor %}
            </div>
        </div>
        <button type="submit" id="submitButton">Play turn</button>
    </form>
    <form method="get" action="../solve">
        <input type="submit" value="Suggest moves"/>
    </form>
    <form method="get" action="..">
        <input type="submit" value="New game"/>
    </form>
</div>
</body>
</html>