{% macro word_selector(words, name) -%}
<select name="{{name}}">
    {% for word in words %}
    <option value="{{word}}">{{word}}</option>
    {% endfor %}
</select>
{%- endmacro %}

<html>
<head>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div id="contentBox">
    <h4>Board selection</h4>
    <form method="get" action="start">
        <div id="group1" class="columnGroup">
            <div id="column1" class='column'>
                Player 1:<br>
                {% for name in p1 %}
                {{ word_selector(words, name) }}<br>
                {% endfor %}
            </div>

            <div id="column2" class='column'>
                Player 2:<br>
                {% for name in p2 %}
                {{ word_selector(words, name) }}<br>
                {% endfor %}
            </div>
        </div>
        <div id="group2" class="columnGroup">
            <div id="column3" class='column'>
                Neutral:<br>
                {% for name in neutral %}
                {{ word_selector(words, name) }}<br>
                {% endfor %}
            </div>

            <div id="column4" class='column'>
                Assassin:<br>
                {% for name in assassin %}
                {{ word_selector(words, name) }}<br>
                {% endfor %}
            </div>
        </div>
        <button type="submit" id="submitButton">Submit selection</button>
    </form>
    <form method="get" action="random">
        <input type="submit" value="Random board"/>
    </form>
</div>
</body>
</html>