{% macro display_result(result) -%}
{{result.rank}} {{result.word}}<br>
<br>Player similarities:<br>
{% for word, score, ranking in result.player_scores %}
{{word}}: {{score}} {{ranking}}<br>
{% endfor %}
<br>Opponent similarities:<br>
{% for word, score, ranking in result.opponent_scores %}
{{word}}: {{score}} {{ranking}}<br>
{% endfor %}
<br>Neutral similarities:<br>
{% for word, score, ranking in result.neutral_scores %}
{{word}}: {{score}} {{ranking}}<br>
{% endfor %}
<br>Assassin similarities:<br>
{% for word, score, ranking in result.assassin_scores %}
{{word}}: {{score}} {{ranking}}<br>
{% endfor %}
{%- endmacro %}

<html>
<head>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

<div id="contentBox">
    <h4>Suggested moves:</h4>
    {% for result in suggestions %}
    <div class="result">
        <br>{{ display_result(result) }}<br>
    </div>
    {% endfor %}

    <form method="get" action="display">
        <input type="submit" id="backButton" value="Back"/>
    </form>
</div>
</body>
</html>