button,input[type=submit] {
    display:block;
    float:left;
    margin-left:0.5em;
    margin-right:0.5em;
}

#submitButton, #backButton{
    clear:left;
}

select {
    margin:0.2em;
}

#contentBox {
    margin:0px auto;
    width:100%;
    max-width:48em;
}

body {
    padding-bottom:5em;
}

.column {
    float:left;
    margin:0;
    padding-top:1em;
    padding-bottom:1em;
    width:12em;
}

.result {
    float:left;
    margin:0.5em;
    width:auto;
}

.columnGroup {
    float:left;
    margin:0;
    width:auto;
}